<div [ngClass]="{ 'modal-container': true, 'active': isModalActive }">
    <div class="modal">
        <form>
            <label for="u-nome">Nome</label>
            <input [(ngModel)]="user.name" id="u-nome" name="u-nome" type="text" required/>

            <label for="u-email">E-mail</label>
            <input [(ngModel)]="user.email" id="u-email" name="u-email" type="email" required/>

            <app-anddress [user]="user"></app-anddress>

            <button id="btnSalvar" (click)="performUserAction()">Salvar</button>
        </form>
    </div>
</div>
