<div [ngClass]="{ 'modal-container': true, 'active': isModalActive }">
    <div class="modal">
        <form>
            <label for="m-nome">Nome</label>
            <input [(ngModel)]="newUser.name" id="m-nome" name="m-nome" type="text" required/>

            <label for="m-email">E-mail</label>
            <input [(ngModel)]="newUser.email" id="m-email" name="m-email" type="email" required/>

            <label for="m-cep">CEP</label>
            <input [(ngModel)]="newUser.cep" id="m-cep" name="m-cep" type="number" required />
            
            <button id="btnSalvar" (click)="createUser()">Salvar</button>
        </form>
    </div>
</div>
